In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataPenerimaDf = pd.read_csv("./data/AI 2019-2020 Dataset Naive Bayes - Sheet1.csv")
dataPenerimaDf

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
0,Sanggar Azalea,2,14,3,2,TUNDA
1,Kedurus Sejahtera,6,7,5,4,TIDAK
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
4,Purnama,1,9,5,4,TUNDA
5,Kencana Craft,3,22,2,1,TUNDA
6,V-Tri Accessories,4,14,2,3,TIDAK
7,Maju Jaya Sablon,5,1,3,2,YA
8,Batik Semanggi,6,1,2,3,YA
9,Sunrise Picture,7,13,5,10,TIDAK
10,Mitra Mandiri,4,3,3,6,YA
11,Liana,0,15,3,6,TIDAK
12,Madekan,7,15,3,8,YA
13,Temuwati,2,26,1,8,TIDAK
14,Eva Nur Fadillah,5,23,3,10,TUNDA
15,Sri Sulatiningsih,3,18,5,7,TUNDA
16,Warna Ayu,7,20,3,6,YA
17,Ukm Jasierah,3,2,2,9,TIDAK
18,Nurul,6,16,5,7,YA
19,Pujiati,0,24,3,1,YA
20,Indrayani,2,18,1,8,TIDAK
21,Ksm Kurma,0,5,2,5,TUNDA
22,Ukm Danadipa Etnik,3,10,1,1,TUNDA
23,Ukm Enfina,3,25,4,6,TIDAK
24,Ksm Lezat,2,4,1,1,TIDAK
25,Andyni Collection,7,30,1,3,YA
26,Ananda Collection,6,3,4,7,TIDAK
27,Umk Rumpun Bambu,5,19,5,2,YA
28,Umk Flamboyan,4,25,2,4,YA
29,Umk Tandu A.W,3,3,2,4,TUNDA
30,Umk Prayogi,7,19,5,3,TUNDA
31,Umk Dian Collection,1,24,5,7,YA
32,Kelompok Tani,4,20,4,1,YA
33,Umi Hanik,2,12,4,4,TIDAK
34,Lilik Yulfa,7,29,5,2,YA
35,Titik Suprihatin,5,3,1,2,YA
36,Tutik Jaslikan,5,6,1,6,TIDAK
37,Subaun,4,23,5,6,TIDAK
38,Mekan,7,17,2,7,TUNDA
39,Ksm Budaya 4,1,21,2,8,TIDAK
40,Umk Warga Mandiri,4,1,2,8,YA
41,Ksm Kreatif & Koi,7,10,5,4,TIDAK
42,Sri Lasmini Budiono,1,30,1,6,TUNDA
43,Umk Sayu Sejahtera,5,8,5,3,TIDAK
44,Windu Collection,2,26,2,9,YA

In [3]:
sortedDf = dataPenerimaDf.sort_values("HASIL KEPUTUSAN")
sortedDf

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
33,Umi Hanik,2,12,4,4,TIDAK
23,Ukm Enfina,3,25,4,6,TIDAK
17,Ukm Jasierah,3,2,2,9,TIDAK
24,Ksm Lezat,2,4,1,1,TIDAK
26,Ananda Collection,6,3,4,7,TIDAK
13,Temuwati,2,26,1,8,TIDAK
11,Liana,0,15,3,6,TIDAK
43,Umk Sayu Sejahtera,5,8,5,3,TIDAK
9,Sunrise Picture,7,13,5,10,TIDAK
20,Indrayani,2,18,1,8,TIDAK
37,Subaun,4,23,5,6,TIDAK
6,V-Tri Accessories,4,14,2,3,TIDAK
39,Ksm Budaya 4,1,21,2,8,TIDAK
41,Ksm Kreatif & Koi,7,10,5,4,TIDAK
1,Kedurus Sejahtera,6,7,5,4,TIDAK
36,Tutik Jaslikan,5,6,1,6,TIDAK
30,Umk Prayogi,7,19,5,3,TUNDA
38,Mekan,7,17,2,7,TUNDA
29,Umk Tandu A.W,3,3,2,4,TUNDA
42,Sri Lasmini Budiono,1,30,1,6,TUNDA
0,Sanggar Azalea,2,14,3,2,TUNDA
22,Ukm Danadipa Etnik,3,10,1,1,TUNDA
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
15,Sri Sulatiningsih,3,18,5,7,TUNDA
4,Purnama,1,9,5,4,TUNDA
5,Kencana Craft,3,22,2,1,TUNDA
14,Eva Nur Fadillah,5,23,3,10,TUNDA
21,Ksm Kurma,0,5,2,5,TUNDA
19,Pujiati,0,24,3,1,YA
40,Umk Warga Mandiri,4,1,2,8,YA
7,Maju Jaya Sablon,5,1,3,2,YA
8,Batik Semanggi,6,1,2,3,YA
35,Titik Suprihatin,5,3,1,2,YA
10,Mitra Mandiri,4,3,3,6,YA
32,Kelompok Tani,4,20,4,1,YA
31,Umk Dian Collection,1,24,5,7,YA
12,Madekan,7,15,3,8,YA
28,Umk Flamboyan,4,25,2,4,YA
27,Umk Rumpun Bambu,5,19,5,2,YA
25,Andyni Collection,7,30,1,3,YA
16,Warna Ayu,7,20,3,6,YA
18,Nurul,6,16,5,7,YA
34,Lilik Yulfa,7,29,5,2,YA
44,Windu Collection,2,26,2,9,YA

In [4]:
dataKeseluruhanYa = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'YA']
dataKeseluruhanYa

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
7,Maju Jaya Sablon,5,1,3,2,YA
8,Batik Semanggi,6,1,2,3,YA
10,Mitra Mandiri,4,3,3,6,YA
12,Madekan,7,15,3,8,YA
16,Warna Ayu,7,20,3,6,YA
18,Nurul,6,16,5,7,YA
19,Pujiati,0,24,3,1,YA
25,Andyni Collection,7,30,1,3,YA
27,Umk Rumpun Bambu,5,19,5,2,YA
28,Umk Flamboyan,4,25,2,4,YA
31,Umk Dian Collection,1,24,5,7,YA
32,Kelompok Tani,4,20,4,1,YA
34,Lilik Yulfa,7,29,5,2,YA
35,Titik Suprihatin,5,3,1,2,YA
40,Umk Warga Mandiri,4,1,2,8,YA
44,Windu Collection,2,26,2,9,YA

In [5]:
dataKeseluruhanTunda = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'TUNDA']
dataKeseluruhanTunda

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
0,Sanggar Azalea,2,14,3,2,TUNDA
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
4,Purnama,1,9,5,4,TUNDA
5,Kencana Craft,3,22,2,1,TUNDA
14,Eva Nur Fadillah,5,23,3,10,TUNDA
15,Sri Sulatiningsih,3,18,5,7,TUNDA
21,Ksm Kurma,0,5,2,5,TUNDA
22,Ukm Danadipa Etnik,3,10,1,1,TUNDA
29,Umk Tandu A.W,3,3,2,4,TUNDA
30,Umk Prayogi,7,19,5,3,TUNDA
38,Mekan,7,17,2,7,TUNDA
42,Sri Lasmini Budiono,1,30,1,6,TUNDA

In [6]:
dataKeseluruhanTidak = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'TIDAK']
dataKeseluruhanTidak

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
1,Kedurus Sejahtera,6,7,5,4,TIDAK
6,V-Tri Accessories,4,14,2,3,TIDAK
9,Sunrise Picture,7,13,5,10,TIDAK
11,Liana,0,15,3,6,TIDAK
13,Temuwati,2,26,1,8,TIDAK
17,Ukm Jasierah,3,2,2,9,TIDAK
20,Indrayani,2,18,1,8,TIDAK
23,Ukm Enfina,3,25,4,6,TIDAK
24,Ksm Lezat,2,4,1,1,TIDAK
26,Ananda Collection,6,3,4,7,TIDAK
33,Umi Hanik,2,12,4,4,TIDAK
36,Tutik Jaslikan,5,6,1,6,TIDAK
37,Subaun,4,23,5,6,TIDAK
39,Ksm Budaya 4,1,21,2,8,TIDAK
41,Ksm Kreatif & Koi,7,10,5,4,TIDAK
43,Umk Sayu Sejahtera,5,8,5,3,TIDAK

In [7]:
dataKeputusan = []
dataKeputusan.append(len(dataKeseluruhanYa))
dataKeputusan.append(len(dataKeseluruhanTunda))
dataKeputusan.append(len(dataKeseluruhanTidak))
dataKeputusan

[16, 13, 16]

In [8]:
jumlahTotal = sum(dataKeputusan)
jumlahTotal

45

## LAMA USAHA

In [9]:
banyakKecilYaLamaUsaha = len(dataKeseluruhanYa.loc[dataKeseluruhanYa['LAMA USAHA(dlm tahun)'] < 3])
banyakKecilYaLamaUsaha

3

In [10]:
banyakMenengahYaLamaUsaha = len(dataKeseluruhanYa.loc[(dataKeseluruhanYa['LAMA USAHA(dlm tahun)'] >= 3) & (dataKeseluruhanYa['LAMA USAHA(dlm tahun)'] <= 7)])
banyakMenengahYaLamaUsaha

13

In [11]:
banyakBesarYaLamaUsaha = len(dataKeseluruhanYa.loc[dataKeseluruhanYa['LAMA USAHA(dlm tahun)'] >7])
banyakBesarYaLamaUsaha

0

In [12]:
banyakKecilTundaLamaUsaha = len(dataKeseluruhanTunda.loc[dataKeseluruhanTunda['LAMA USAHA(dlm tahun)'] < 3])
banyakKecilTundaLamaUsaha

5

In [13]:
banyakMenengahTundaLamaUsaha = len(dataKeseluruhanTunda.loc[(dataKeseluruhanTunda['LAMA USAHA(dlm tahun)'] >= 3) & (dataKeseluruhanTunda['LAMA USAHA(dlm tahun)'] <= 7)])
banyakMenengahTundaLamaUsaha

8

In [14]:
banyakBesarTundaLamaUsaha = len(dataKeseluruhanTunda.loc[dataKeseluruhanTunda['LAMA USAHA(dlm tahun)'] >7])
banyakBesarTundaLamaUsaha

0

In [15]:
banyakKecilTidakLamaUsaha = len(dataKeseluruhanTidak.loc[dataKeseluruhanTidak['LAMA USAHA(dlm tahun)'] < 3])
banyakKecilTidakLamaUsaha

6

In [16]:
banyakMenengahTidakLamaUsaha = len(dataKeseluruhanTidak.loc[(dataKeseluruhanTidak['LAMA USAHA(dlm tahun)'] >= 3) & (dataKeseluruhanTidak['LAMA USAHA(dlm tahun)'] <= 7)])
banyakMenengahTidakLamaUsaha

10

In [17]:
banyakBesarTidakLamaUsaha = len(dataKeseluruhanTidak.loc[dataKeseluruhanTidak['LAMA USAHA(dlm tahun)'] >7])
banyakBesarTidakLamaUsaha

0

In [28]:
lamaUsaha = []
yaLamaUsaha = []
tundaLamaUsaha = []
tidakLamaUsaha = []
yaLamaUsaha.append(banyakKecilYaLamaUsaha)
yaLamaUsaha.append(banyakMenengahYaLamaUsaha)
yaLamaUsaha.append(banyakBesarYaLamaUsaha)
tundaLamaUsaha.append(banyakKecilTundaLamaUsaha)
tundaLamaUsaha.append(banyakMenengahTundaLamaUsaha)
tundaLamaUsaha.append(banyakBesarTundaLamaUsaha)
tidakLamaUsaha.append(banyakKecilTidakLamaUsaha)
tidakLamaUsaha.append(banyakMenengahTidakLamaUsaha)
tidakLamaUsaha.append(banyakBesarTidakLamaUsaha)
lamaUsaha.append(yaLamaUsaha)
lamaUsaha.append(tundaLamaUsaha)
lamaUsaha.append(tidakLamaUsaha)
lamaUsaha

[[3, 13, 0], [5, 8, 0], [6, 10, 0]]

In [33]:
pd.DataFrame(lamaUsaha, columns=['k', 'm', 'b'])

   k   m  b
0  3  13  0
1  5   8  0
2  6  10  0