In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataPenerimaDf = pd.read_csv("./data/AI 2019-2020 Dataset Naive Bayes - Sheet1.csv")
dataPenerimaDf

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
0,Sanggar Azalea,2,14,3,2,TUNDA
1,Kedurus Sejahtera,6,7,5,4,TIDAK
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
4,Purnama,1,9,5,4,TUNDA
5,Kencana Craft,3,22,2,1,TUNDA
6,V-Tri Accessories,4,14,2,3,TIDAK
7,Maju Jaya Sablon,5,1,3,2,YA
8,Batik Semanggi,6,1,2,3,YA
9,Sunrise Picture,7,13,5,10,TIDAK
10,Mitra Mandiri,4,3,3,6,YA
11,Liana,0,15,3,6,TIDAK
12,Madekan,7,15,3,8,YA
13,Temuwati,2,26,1,8,TIDAK
14,Eva Nur Fadillah,5,23,3,10,TUNDA
15,Sri Sulatiningsih,3,18,5,7,TUNDA
16,Warna Ayu,7,20,3,6,YA
17,Ukm Jasierah,3,2,2,9,TIDAK
18,Nurul,6,16,5,7,YA
19,Pujiati,0,24,3,1,YA
20,Indrayani,2,18,1,8,TIDAK
21,Ksm Kurma,0,5,2,5,TUNDA
22,Ukm Danadipa Etnik,3,10,1,1,TUNDA
23,Ukm Enfina,3,25,4,6,TIDAK
24,Ksm Lezat,2,4,1,1,TIDAK
25,Andyni Collection,7,30,1,3,YA
26,Ananda Collection,6,3,4,7,TIDAK
27,Umk Rumpun Bambu,5,19,5,2,YA
28,Umk Flamboyan,4,25,2,4,YA
29,Umk Tandu A.W,3,3,2,4,TUNDA
30,Umk Prayogi,7,19,5,3,TUNDA
31,Umk Dian Collection,1,24,5,7,YA
32,Kelompok Tani,4,20,4,1,YA
33,Umi Hanik,2,12,4,4,TIDAK
34,Lilik Yulfa,7,29,5,2,YA
35,Titik Suprihatin,5,3,1,2,YA
36,Tutik Jaslikan,5,6,1,6,TIDAK
37,Subaun,4,23,5,6,TIDAK
38,Mekan,7,17,2,7,TUNDA
39,Ksm Budaya 4,1,21,2,8,TIDAK
40,Umk Warga Mandiri,4,1,2,8,YA
41,Ksm Kreatif & Koi,7,10,5,4,TIDAK
42,Sri Lasmini Budiono,1,30,1,6,TUNDA
43,Umk Sayu Sejahtera,5,8,5,3,TIDAK
44,Windu Collection,2,26,2,9,YA

In [3]:
len(dataPenerimaDf)

45

In [4]:
namaUkm = dataPenerimaDf["NAMA UKM"].values
len(namaUkm)

45

In [5]:
lamaUsaha = dataPenerimaDf["LAMA USAHA(dlm tahun)"].values
len(lamaUsaha)

45

In [6]:
jumlahPekerja = dataPenerimaDf["JUMLAH PEKERJA"].values
len(jumlahPekerja)

45

In [7]:
omzetUkm = dataPenerimaDf["OMZET (dlm juta)"].values
len(omzetUkm)

45

In [8]:
jumlahAset = dataPenerimaDf["JUMLAH ASET"].values
len(jumlahAset)

45

In [9]:
hasilKeputusan = dataPenerimaDf["HASIL KEPUTUSAN"].values
hasilKeputusan

array(['TUNDA', 'TIDAK', 'TUNDA', 'TUNDA', 'TUNDA', 'TUNDA', 'TIDAK',
       'YA', 'YA', 'TIDAK', 'YA', 'TIDAK', 'YA', 'TIDAK', 'TUNDA',
       'TUNDA', 'YA', 'TIDAK', 'YA', 'YA', 'TIDAK', 'TUNDA', 'TUNDA',
       'TIDAK', 'TIDAK', 'YA', 'TIDAK', 'YA', 'YA', 'TUNDA', 'TUNDA',
       'YA', 'YA', 'TIDAK', 'YA', 'YA', 'TIDAK', 'TIDAK', 'TUNDA',
       'TIDAK', 'YA', 'TIDAK', 'TUNDA', 'TIDAK', 'YA'], dtype=object)

In [21]:
dataPenerimaDf.head()

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
0,Sanggar Azalea,2,14,3,2,TUNDA
1,Kedurus Sejahtera,6,7,5,4,TIDAK
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
4,Purnama,1,9,5,4,TUNDA

In [33]:
hasilTunda = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'TUNDA']
len(hasilTunda)

13

In [34]:
hasilTidak = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'TIDAK']
len(hasilTidak)

16

In [35]:
hasilYa = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'YA']
len(hasilYa)

16

In [37]:
panjangData = len(dataPenerimaDf)
panjangData

45