In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from fractions import Fraction

In [2]:
dataPenerimaDf = pd.read_csv("./data/AI 2019-2020 Dataset Naive Bayes - Sheet1.csv")
dataPenerimaDf

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
0,Sanggar Azalea,2,14,3,2,TUNDA
1,Kedurus Sejahtera,6,7,5,4,TIDAK
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
4,Purnama,1,9,5,4,TUNDA
5,Kencana Craft,3,22,2,1,TUNDA
6,V-Tri Accessories,4,14,2,3,TIDAK
7,Maju Jaya Sablon,5,1,3,2,YA
8,Batik Semanggi,6,1,2,3,YA
9,Sunrise Picture,7,13,5,10,TIDAK
10,Mitra Mandiri,4,3,3,6,YA
11,Liana,0,15,3,6,TIDAK
12,Madekan,7,15,3,8,YA
13,Temuwati,2,26,1,8,TIDAK
14,Eva Nur Fadillah,5,23,3,10,TUNDA
15,Sri Sulatiningsih,3,18,5,7,TUNDA
16,Warna Ayu,7,20,3,6,YA
17,Ukm Jasierah,3,2,2,9,TIDAK
18,Nurul,6,16,5,7,YA
19,Pujiati,0,24,3,1,YA
20,Indrayani,2,18,1,8,TIDAK
21,Ksm Kurma,0,5,2,5,TUNDA
22,Ukm Danadipa Etnik,3,10,1,1,TUNDA
23,Ukm Enfina,3,25,4,6,TIDAK
24,Ksm Lezat,2,4,1,1,TIDAK
25,Andyni Collection,7,30,1,3,YA
26,Ananda Collection,6,3,4,7,TIDAK
27,Umk Rumpun Bambu,5,19,5,2,YA
28,Umk Flamboyan,4,25,2,4,YA
29,Umk Tandu A.W,3,3,2,4,TUNDA
30,Umk Prayogi,7,19,5,3,TUNDA
31,Umk Dian Collection,1,24,5,7,YA
32,Kelompok Tani,4,20,4,1,YA
33,Umi Hanik,2,12,4,4,TIDAK
34,Lilik Yulfa,7,29,5,2,YA
35,Titik Suprihatin,5,3,1,2,YA
36,Tutik Jaslikan,5,6,1,6,TIDAK
37,Subaun,4,23,5,6,TIDAK
38,Mekan,7,17,2,7,TUNDA
39,Ksm Budaya 4,1,21,2,8,TIDAK
40,Umk Warga Mandiri,4,1,2,8,YA
41,Ksm Kreatif & Koi,7,10,5,4,TIDAK
42,Sri Lasmini Budiono,1,30,1,6,TUNDA
43,Umk Sayu Sejahtera,5,8,5,3,TIDAK
44,Windu Collection,2,26,2,9,YA

In [3]:
len(dataPenerimaDf)

45

In [4]:
namaUkm = dataPenerimaDf["NAMA UKM"].values
len(namaUkm)

45

In [5]:
lamaUsaha = dataPenerimaDf["LAMA USAHA(dlm tahun)"].values
len(lamaUsaha)

45

In [6]:
jumlahPekerja = dataPenerimaDf["JUMLAH PEKERJA"].values
len(jumlahPekerja)

45

In [7]:
omzetUkm = dataPenerimaDf["OMZET (dlm juta)"].values
len(omzetUkm)

45

In [8]:
jumlahAset = dataPenerimaDf["JUMLAH ASET"].values
len(jumlahAset)

45

In [9]:
hasilKeputusan = dataPenerimaDf["HASIL KEPUTUSAN"].values
hasilKeputusan

array(['TUNDA', 'TIDAK', 'TUNDA', 'TUNDA', 'TUNDA', 'TUNDA', 'TIDAK',
       'YA', 'YA', 'TIDAK', 'YA', 'TIDAK', 'YA', 'TIDAK', 'TUNDA',
       'TUNDA', 'YA', 'TIDAK', 'YA', 'YA', 'TIDAK', 'TUNDA', 'TUNDA',
       'TIDAK', 'TIDAK', 'YA', 'TIDAK', 'YA', 'YA', 'TUNDA', 'TUNDA',
       'YA', 'YA', 'TIDAK', 'YA', 'YA', 'TIDAK', 'TIDAK', 'TUNDA',
       'TIDAK', 'YA', 'TIDAK', 'TUNDA', 'TIDAK', 'YA'], dtype=object)

In [10]:
dataPenerimaDf.head()

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
0,Sanggar Azalea,2,14,3,2,TUNDA
1,Kedurus Sejahtera,6,7,5,4,TIDAK
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
4,Purnama,1,9,5,4,TUNDA

In [11]:
hasilTunda = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'TUNDA']
len(hasilTunda)

13

In [12]:
hasilTidak = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'TIDAK']
len(hasilTidak)

16

In [13]:
hasilYa = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'YA']
len(hasilYa)

16

In [14]:
panjangData = len(dataPenerimaDf)
panjangData

45

In [15]:
dataPenerimaDf.sort_values("HASIL KEPUTUSAN")

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
33,Umi Hanik,2,12,4,4,TIDAK
23,Ukm Enfina,3,25,4,6,TIDAK
17,Ukm Jasierah,3,2,2,9,TIDAK
24,Ksm Lezat,2,4,1,1,TIDAK
26,Ananda Collection,6,3,4,7,TIDAK
13,Temuwati,2,26,1,8,TIDAK
11,Liana,0,15,3,6,TIDAK
43,Umk Sayu Sejahtera,5,8,5,3,TIDAK
9,Sunrise Picture,7,13,5,10,TIDAK
20,Indrayani,2,18,1,8,TIDAK
37,Subaun,4,23,5,6,TIDAK
6,V-Tri Accessories,4,14,2,3,TIDAK
39,Ksm Budaya 4,1,21,2,8,TIDAK
41,Ksm Kreatif & Koi,7,10,5,4,TIDAK
1,Kedurus Sejahtera,6,7,5,4,TIDAK
36,Tutik Jaslikan,5,6,1,6,TIDAK
30,Umk Prayogi,7,19,5,3,TUNDA
38,Mekan,7,17,2,7,TUNDA
29,Umk Tandu A.W,3,3,2,4,TUNDA
42,Sri Lasmini Budiono,1,30,1,6,TUNDA
0,Sanggar Azalea,2,14,3,2,TUNDA
22,Ukm Danadipa Etnik,3,10,1,1,TUNDA
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
15,Sri Sulatiningsih,3,18,5,7,TUNDA
4,Purnama,1,9,5,4,TUNDA
5,Kencana Craft,3,22,2,1,TUNDA
14,Eva Nur Fadillah,5,23,3,10,TUNDA
21,Ksm Kurma,0,5,2,5,TUNDA
19,Pujiati,0,24,3,1,YA
40,Umk Warga Mandiri,4,1,2,8,YA
7,Maju Jaya Sablon,5,1,3,2,YA
8,Batik Semanggi,6,1,2,3,YA
35,Titik Suprihatin,5,3,1,2,YA
10,Mitra Mandiri,4,3,3,6,YA
32,Kelompok Tani,4,20,4,1,YA
31,Umk Dian Collection,1,24,5,7,YA
12,Madekan,7,15,3,8,YA
28,Umk Flamboyan,4,25,2,4,YA
27,Umk Rumpun Bambu,5,19,5,2,YA
25,Andyni Collection,7,30,1,3,YA
16,Warna Ayu,7,20,3,6,YA
18,Nurul,6,16,5,7,YA
34,Lilik Yulfa,7,29,5,2,YA
44,Windu Collection,2,26,2,9,YA

In [16]:
pTidak = len(hasilTidak)/panjangData
# 16/45
pTidak

0.35555555555555557

In [17]:
pTunda = len(hasilTunda)/panjangData
# 13/45
pTunda

0.28888888888888886

In [18]:
pYa = len(hasilYa)/panjangData
# 16/45
pYa

0.35555555555555557

In [19]:
dataTestDf = pd.read_csv("./data/AI 2019-2020 Dataset Naive Bayes Data Uji - Sheet1.csv")
dataTestDf

,NAMA UKM,LAMA USAHA (dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET
0,Umk Pamurbaya,4,15,4,6
1,Umk Bandeng,3,28,4,10
2,Bukid Graffer,2,12,1,3
3,Kum Mandiri Sablon,2,10,3,10
4,Kum Cahaya Mandiri,6,24,4,9

In [48]:
# 4/16
lamaUsahaUmkPamurbayaDatatest = dataTestDf['LAMA USAHA (dlm tahun)'].values[0]
lamaUsahaUmkPamurbayaDatatest

4

In [21]:
# 15/16
jumlahPekerjaUmkPamurbayaDatatest = dataTestDf['JUMLAH PEKERJA'].values[0]
jumlahPekerjaUmkPamurbayaDatatest

15

In [22]:
# 4/16
omzetUkmPamurbayaDatatest = dataTestDf['OMZET (dlm juta)'].values[0]
omzetUkmPamurbayaDatatest

4

In [23]:
pbTidak = []
lamaUsahaUmkPamurbayaTidak = lamaUsahaUmkPamurbayaDatatest / len(hasilTidak)
jumlahPekerjaUmkPamurbayaTidak = jumlahPekerjaUmkPamurbayaDatatest / len(hasilTidak)
omzetUkmPamurbayaTidak = omzetUkmPamurbayaDatatest / len(hasilTidak)
pbTidak.append(lamaUsahaUmkPamurbayaTidak)
pbTidak.append(jumlahPekerjaUmkPamurbayaTidak)
pbTidak.append(omzetUkmPamurbayaTidak)
pbTidak

[0.25, 0.9375, 0.25]

In [101]:
pbTunda = []
lamaUsahaUmkPamurbayaTunda = lamaUsahaUmkPamurbayaDatatest / len(hasilTunda)
jumlahPekerjaUmkPamurbayaTunda = jumlahPekerjaUmkPamurbayaDatatest / len(hasilTunda)
omzetUkmPamurbayaTunda = omzetUkmPamurbayaDatatest / len(hasilTunda)
pbTunda.append(lamaUsahaUmkPamurbayaTunda)
pbTunda.append(jumlahPekerjaUmkPamurbayaTunda)
pbTunda.append(omzetUkmPamurbayaTunda)
pbTunda

[0.3076923076923077, 1.1538461538461537, 0.3076923076923077]

In [102]:
pbYa = []
lamaUsahaUmkPamurbayaYa = lamaUsahaUmkPamurbayaDatatest / len(hasilYa)
jumlahPekerjaUmkPamurbayaYa = jumlahPekerjaUmkPamurbayaDatatest / len(hasilYa)
omzetUkmPamurbayaYa = omzetUkmPamurbayaDatatest / len(hasilYa)
pbYa.append(lamaUsahaUmkPamurbayaYa)
pbYa.append(jumlahPekerjaUmkPamurbayaYa)
pbYa.append(omzetUkmPamurbayaYa)
pbYa

[0.25, 0.9375, 0.25]

In [103]:
def kaliarray(arr) : 
    res = 1
    for i in arr: 
         res = res * i  
    return res

In [104]:
pbSyaratTunda = kaliarray(pbTunda)
pbSyaratTidak= kaliarray(pbTidak)
pbSyaratYa = kaliarray(pbYa)

In [105]:
pbSyaratTidak

0.05859375

In [94]:
pbSyaratTunda

0.10923987255348203

In [95]:
pbSyaratYa

0.05859375

In [96]:
Argmax = []
kelasTidak = []
kelasTunda = []
kelasYa = []
pSyaratTidak = pbSyaratTidak * pTidak
pSyaratTunda = pbSyaratTunda * pTunda
pSyaratYa = pbSyaratYa * pYa
kelasTidak.append(pSyaratTidak)
kelasTidak.append("TIDAK")
kelasTunda.append(pSyaratTunda)
kelasTunda.append("TUNDA")
kelasYa.append(pSyaratYa)
kelasYa.append("YA")
Argmax.append(kelasTidak)
Argmax.append(kelasTunda)
Argmax.append(kelasYa)

In [97]:
Argmax

[[0.020833333333333336, 'TIDAK'],
 [0.03155818540433925, 'TUNDA'],
 [0.020833333333333336, 'YA']]

In [98]:
klasifikasi = pd.DataFrame(Argmax, columns=['Peluang', 'Klasifikasi']).sort_values("Peluang", ascending=False)
klasifikasi.values[0][1]

'TUNDA'

In [109]:
def naivebayes(lamaUsaha, jumlahPekerja, omzet, jumlahAset):
    Argmax = []
    pbTidak = []
    pbTunda = []
    pbYa = []
    kelasTidak = []
    kelasTunda = []
    kelasYa = []
    dataPenerimaDf = pd.read_csv("./data/AI 2019-2020 Dataset Naive Bayes - Sheet1.csv")
    hasilTunda = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'TUNDA']
    hasilTidak = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'TIDAK']
    hasilYa = dataPenerimaDf.loc[dataPenerimaDf['HASIL KEPUTUSAN'] == 'YA']
    panjangData = len(dataPenerimaDf)
    # peluang setiap kelas    
    pTidak = len(hasilTidak)/panjangData
    pTunda = len(hasilTunda)/panjangData
    pYa = len(hasilYa)/panjangData
    # peluang klasifikasi tidak
    lamaUsahaTidak = lamaUsaha / len(hasilTidak)
    jumlahPekerjaTidak = jumlahPekerja / len(hasilTidak)
    omzetTidak = omzet / len(hasilTidak)
    jumlahAsetTidak = jumlahAset / len(hasilTidak)
    pbTidak.append(lamaUsahaTidak)
    pbTidak.append(jumlahPekerjaTidak)
    pbTidak.append(omzetTidak)
    pbTidak.append(jumlahAsetTidak)
    # peluang klasifikasi tunda     
    lamaUsahaTunda = lamaUsaha / len(hasilTunda)
    jumlahPekerjaTunda = jumlahPekerja / len(hasilTunda)
    omzetTunda = omzet / len(hasilTunda)
    jumlahAsetTunda = jumlahAset / len(hasilTunda)
    pbTunda.append(lamaUsahaTunda)
    pbTunda.append(jumlahPekerjaTunda)
    pbTunda.append(omzetTunda)
    pbTunda.append(jumlahAsetTunda)
    # peluang klasifikasi ya
    lamaUsahaYa = lamaUsaha / len(hasilYa)
    jumlahPekerjaYa = jumlahPekerja / len(hasilYa)
    omzetYa = omzet / len(hasilYa)
    jumlahAsetYa = jumlahAset / len(hasilYa)
    pbYa.append(lamaUsahaYa)
    pbYa.append(jumlahPekerjaYa)
    pbYa.append(omzetYa)
    pbYa.append(jumlahAsetYa)
    # kali setiap hasil dalam array     
    pbSyaratTunda = kaliarray(pbTunda)
    pbSyaratTidak= kaliarray(pbTidak)
    pbSyaratYa = kaliarray(pbYa)
    # hasil kali array dikalikan dengan peluang setiap kelas
    pSyaratTidak = pbSyaratTidak * pTidak
    pSyaratTunda = pbSyaratTunda * pTunda
    pSyaratYa = pbSyaratYa * pYa
    kelasTidak.append(pSyaratTidak)
    kelasTidak.append("TIDAK")
    kelasTunda.append(pSyaratTunda)
    kelasTunda.append("TUNDA")
    kelasYa.append(pSyaratYa)
    kelasYa.append("YA")
    Argmax.append(kelasTidak)
    Argmax.append(kelasTunda)
    Argmax.append(kelasYa)
    return Argmax

In [112]:
UmkPamurbaya = naivebayes(4,15,4,6)
UmkPamurbaya

[[0.0078125, 'TIDAK'], [0.01456531634046427, 'TUNDA'], [0.0078125, 'YA']]