In [1]:
import pandas as pd
import numpy as np

In [2]:
datalatih = pd.read_csv("./data/AI 2019-2020 Dataset Naive Bayes - Sheet1.csv")
datalatih

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
0,Sanggar Azalea,2,14,3,2,TUNDA
1,Kedurus Sejahtera,6,7,5,4,TIDAK
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
4,Purnama,1,9,5,4,TUNDA
5,Kencana Craft,3,22,2,1,TUNDA
6,V-Tri Accessories,4,14,2,3,TIDAK
7,Maju Jaya Sablon,5,1,3,2,YA
8,Batik Semanggi,6,1,2,3,YA
9,Sunrise Picture,7,13,5,10,TIDAK
10,Mitra Mandiri,4,3,3,6,YA
11,Liana,0,15,3,6,TIDAK
12,Madekan,7,15,3,8,YA
13,Temuwati,2,26,1,8,TIDAK
14,Eva Nur Fadillah,5,23,3,10,TUNDA
15,Sri Sulatiningsih,3,18,5,7,TUNDA
16,Warna Ayu,7,20,3,6,YA
17,Ukm Jasierah,3,2,2,9,TIDAK
18,Nurul,6,16,5,7,YA
19,Pujiati,0,24,3,1,YA
20,Indrayani,2,18,1,8,TIDAK
21,Ksm Kurma,0,5,2,5,TUNDA
22,Ukm Danadipa Etnik,3,10,1,1,TUNDA
23,Ukm Enfina,3,25,4,6,TIDAK
24,Ksm Lezat,2,4,1,1,TIDAK
25,Andyni Collection,7,30,1,3,YA
26,Ananda Collection,6,3,4,7,TIDAK
27,Umk Rumpun Bambu,5,19,5,2,YA
28,Umk Flamboyan,4,25,2,4,YA
29,Umk Tandu A.W,3,3,2,4,TUNDA
30,Umk Prayogi,7,19,5,3,TUNDA
31,Umk Dian Collection,1,24,5,7,YA
32,Kelompok Tani,4,20,4,1,YA
33,Umi Hanik,2,12,4,4,TIDAK
34,Lilik Yulfa,7,29,5,2,YA
35,Titik Suprihatin,5,3,1,2,YA
36,Tutik Jaslikan,5,6,1,6,TIDAK
37,Subaun,4,23,5,6,TIDAK
38,Mekan,7,17,2,7,TUNDA
39,Ksm Budaya 4,1,21,2,8,TIDAK
40,Umk Warga Mandiri,4,1,2,8,YA
41,Ksm Kreatif & Koi,7,10,5,4,TIDAK
42,Sri Lasmini Budiono,1,30,1,6,TUNDA
43,Umk Sayu Sejahtera,5,8,5,3,TIDAK
44,Windu Collection,2,26,2,9,YA

In [3]:
dataLatih = datalatih.sort_values("HASIL KEPUTUSAN")
dataLatih

,NAMA UKM,LAMA USAHA(dlm tahun),JUMLAH PEKERJA,OMZET (dlm juta),JUMLAH ASET,HASIL KEPUTUSAN
33,Umi Hanik,2,12,4,4,TIDAK
23,Ukm Enfina,3,25,4,6,TIDAK
17,Ukm Jasierah,3,2,2,9,TIDAK
24,Ksm Lezat,2,4,1,1,TIDAK
26,Ananda Collection,6,3,4,7,TIDAK
13,Temuwati,2,26,1,8,TIDAK
11,Liana,0,15,3,6,TIDAK
43,Umk Sayu Sejahtera,5,8,5,3,TIDAK
9,Sunrise Picture,7,13,5,10,TIDAK
20,Indrayani,2,18,1,8,TIDAK
37,Subaun,4,23,5,6,TIDAK
6,V-Tri Accessories,4,14,2,3,TIDAK
39,Ksm Budaya 4,1,21,2,8,TIDAK
41,Ksm Kreatif & Koi,7,10,5,4,TIDAK
1,Kedurus Sejahtera,6,7,5,4,TIDAK
36,Tutik Jaslikan,5,6,1,6,TIDAK
30,Umk Prayogi,7,19,5,3,TUNDA
38,Mekan,7,17,2,7,TUNDA
29,Umk Tandu A.W,3,3,2,4,TUNDA
42,Sri Lasmini Budiono,1,30,1,6,TUNDA
0,Sanggar Azalea,2,14,3,2,TUNDA
22,Ukm Danadipa Etnik,3,10,1,1,TUNDA
2,Rapi Ayu Handycraft,4,16,1,10,TUNDA
3,Jaya Komputer,2,9,2,2,TUNDA
15,Sri Sulatiningsih,3,18,5,7,TUNDA
4,Purnama,1,9,5,4,TUNDA
5,Kencana Craft,3,22,2,1,TUNDA
14,Eva Nur Fadillah,5,23,3,10,TUNDA
21,Ksm Kurma,0,5,2,5,TUNDA
19,Pujiati,0,24,3,1,YA
40,Umk Warga Mandiri,4,1,2,8,YA
7,Maju Jaya Sablon,5,1,3,2,YA
8,Batik Semanggi,6,1,2,3,YA
35,Titik Suprihatin,5,3,1,2,YA
10,Mitra Mandiri,4,3,3,6,YA
32,Kelompok Tani,4,20,4,1,YA
31,Umk Dian Collection,1,24,5,7,YA
12,Madekan,7,15,3,8,YA
28,Umk Flamboyan,4,25,2,4,YA
27,Umk Rumpun Bambu,5,19,5,2,YA
25,Andyni Collection,7,30,1,3,YA
16,Warna Ayu,7,20,3,6,YA
18,Nurul,6,16,5,7,YA
34,Lilik Yulfa,7,29,5,2,YA
44,Windu Collection,2,26,2,9,YA

In [4]:
jumlahTidak = dataLatih.loc[dataLatih['HASIL KEPUTUSAN'] == "TIDAK"]
jumlahTidak = len(jumlahTidak)

In [5]:
jumlahTunda = dataLatih.loc[dataLatih['HASIL KEPUTUSAN'] == "TUNDA"]
jumlahTunda = len(jumlahTunda)

In [6]:
jumlahYa = dataLatih.loc[dataLatih['HASIL KEPUTUSAN'] == "YA"]
jumlahYa = len(jumlahYa)

In [7]:
jumlahData = jumlahTidak + jumlahTunda + jumlahYa
jumlahData

45

In [8]:
def lamaKerja(data) :
    hasil=[]
    for x in data :
        if x < 3 :
            ket = "Kecil"
            hasil.append(ket)
        elif x > 7 :
            ket = "Besar"
            hasil.append(ket)
        else :
            ket = "Menengah"
            hasil.append(ket)
    return hasil

In [9]:
def jumlahPekerja(data) :
    hasil=[]
    for x in data :
        if x < 10 :
            ket = "Kecil"
            hasil.append(ket)
        elif x > 20 :
            ket = "Besar"
            hasil.append(ket)
        else :
            ket = "Menengah"
            hasil.append(ket)
    return hasil

In [10]:
def omzet(data) :
    hasil=[]
    for x in data :
        if x < 1 :
            ket = "Kecil"
            hasil.append(ket)
        elif x > 3 :
            ket = "Besar"
            hasil.append(ket)
        else :
            ket = "Menengah"
            hasil.append(ket)
    return hasil

In [11]:
def jumlahAset(data) :
    hasil=[]
    for x in data :
        if x < 5 :
            ket = "Kecil"
            hasil.append(ket)
        elif x > 7 :
            ket = "Besar"
            hasil.append(ket)
        else :
            ket = "Menengah"
            hasil.append(ket)
    return hasil

In [12]:
arr = dataLatih['LAMA USAHA(dlm tahun)'].to_numpy()
LK = lamaKerja(arr)

In [13]:
arr2 = dataLatih['JUMLAH PEKERJA'].to_numpy()
JP = jumlahPekerja(arr2)

In [14]:
arr3 = dataLatih['OMZET (dlm juta)'].to_numpy()
Oz = omzet(arr3)

In [15]:
arr4 = dataLatih['JUMLAH ASET'].to_numpy()
JA = jumlahAset(arr4)

In [16]:
df2 = pd.DataFrame({'Nama UKM':dataLatih['NAMA UKM'].to_numpy(),'Lama Kerja':LK,'Jumlah Pekerja':JP,'Omzet':Oz,
                    'Jumlah Aset':JA,'Hasil Keputusan':dataLatih['HASIL KEPUTUSAN'].to_numpy()})

In [17]:
df2

,Nama UKM,Lama Kerja,Jumlah Pekerja,Omzet,Jumlah Aset,Hasil Keputusan
0,Umi Hanik,Kecil,Menengah,Besar,Kecil,TIDAK
1,Ukm Enfina,Menengah,Besar,Besar,Menengah,TIDAK
2,Ukm Jasierah,Menengah,Kecil,Menengah,Besar,TIDAK
3,Ksm Lezat,Kecil,Kecil,Menengah,Kecil,TIDAK
4,Ananda Collection,Menengah,Kecil,Besar,Menengah,TIDAK
5,Temuwati,Kecil,Besar,Menengah,Besar,TIDAK
6,Liana,Kecil,Menengah,Menengah,Menengah,TIDAK
7,Umk Sayu Sejahtera,Menengah,Kecil,Besar,Kecil,TIDAK
8,Sunrise Picture,Menengah,Menengah,Besar,Besar,TIDAK
9,Indrayani,Kecil,Menengah,Menengah,Besar,TIDAK
10,Subaun,Menengah,Besar,Besar,Menengah,TIDAK
11,V-Tri Accessories,Menengah,Menengah,Menengah,Kecil,TIDAK
12,Ksm Budaya 4,Kecil,Besar,Menengah,Besar,TIDAK
13,Ksm Kreatif & Koi,Menengah,Menengah,Besar,Kecil,TIDAK
14,Kedurus Sejahtera,Menengah,Kecil,Besar,Kecil,TIDAK
15,Tutik Jaslikan,Menengah,Kecil,Menengah,Menengah,TIDAK
16,Umk Prayogi,Menengah,Menengah,Besar,Kecil,TUNDA
17,Mekan,Menengah,Menengah,Menengah,Menengah,TUNDA
18,Umk Tandu A.W,Menengah,Kecil,Menengah,Kecil,TUNDA
19,Sri Lasmini Budiono,Kecil,Besar,Menengah,Menengah,TUNDA
20,Sanggar Azalea,Kecil,Menengah,Menengah,Kecil,TUNDA
21,Ukm Danadipa Etnik,Menengah,Menengah,Menengah,Kecil,TUNDA
22,Rapi Ayu Handycraft,Menengah,Menengah,Menengah,Besar,TUNDA
23,Jaya Komputer,Kecil,Kecil,Menengah,Kecil,TUNDA
24,Sri Sulatiningsih,Menengah,Menengah,Besar,Menengah,TUNDA
25,Purnama,Kecil,Kecil,Besar,Kecil,TUNDA
26,Kencana Craft,Menengah,Besar,Menengah,Kecil,TUNDA
27,Eva Nur Fadillah,Menengah,Besar,Menengah,Besar,TUNDA
28,Ksm Kurma,Kecil,Kecil,Menengah,Menengah,TUNDA
29,Pujiati,Kecil,Besar,Menengah,Kecil,YA
30,Umk Warga Mandiri,Menengah,Kecil,Menengah,Besar,YA
31,Maju Jaya Sablon,Menengah,Kecil,Menengah,Kecil,YA
32,Batik Semanggi,Menengah,Kecil,Menengah,Kecil,YA
33,Titik Suprihatin,Menengah,Kecil,Menengah,Kecil,YA
34,Mitra Mandiri,Menengah,Kecil,Menengah,Menengah,YA
35,Kelompok Tani,Menengah,Menengah,Besar,Kecil,YA
36,Umk Dian Collection,Kecil,Besar,Besar,Menengah,YA
37,Madekan,Menengah,Menengah,Menengah,Besar,YA
38,Umk Flamboyan,Menengah,Besar,Menengah,Kecil,YA
39,Umk Rumpun Bambu,Menengah,Menengah,Besar,Kecil,YA
40,Andyni Collection,Menengah,Besar,Menengah,Kecil,YA
41,Warna Ayu,Menengah,Menengah,Menengah,Menengah,YA
42,Nurul,Menengah,Menengah,Besar,Menengah,YA
43,Lilik Yulfa,Menengah,Besar,Besar,Kecil,YA
44,Windu Collection,Kecil,Besar,Menengah,Besar,YA

In [18]:
HK = dataLatih['HASIL KEPUTUSAN'].to_numpy()
def jmlLK(data) :
    Tidak_kecil = 0
    Tidak_menengah = 0
    Tidak_besar = 0
    Tunda_kecil = 0
    Tunda_menengah = 0
    Tunda_Besar = 0
    Ya_kecil = 0
    Ya_menengah = 0
    Ya_Besar = 0
    index = 0
    for x in data :
        if x == "Kecil" and HK[index] == "TIDAK" :
            Tidak_kecil += 1
        elif x == "Menengah" and HK[index] == "TIDAK" :
            Tidak_menengah += 1
        elif x == "Besar" and HK[index] == "TIDAK":
            Tidak_besar += 1
        elif x == "Kecil" and HK[index] == "TUNDA" :
            Tunda_kecil += 1
        elif x == "Menengah" and HK[index] == "TUNDA" :
            Tunda_menengah += 1
        elif x == "Besar" and HK[index] == "TUNDA":
            Tunda_Besar += 1
        elif x == "Kecil" and HK[index] == "YA" :
            Ya_kecil += 1
        elif x == "Menengah" and HK[index] == "YA" :
            Ya_menengah += 1
        elif x == "Besar" and HK[index] == "YA":
            Ya_Besar += 1
        index += 1
    return Tidak_kecil, Tidak_menengah, Tidak_besar, Tunda_kecil, Tunda_menengah, Tunda_Besar, Ya_kecil, Ya_menengah, Ya_Besar

In [19]:
LK_k_tdk, LK_m_tdk, LK_b_tdk, LK_k_tu, LK_m_tu, LK_b_tu, LK_k_ya, LK_m_ya, LK_b_ya = jmlLK(LK)
JP_k_tdk, JP_m_tdk, JP_b_tdk, JP_k_tu, JP_m_tu, JP_b_tu, JP_k_ya, JP_m_ya, JP_b_ya = jmlLK(JP)
OZ_k_tdk, OZ_m_tdk, OZ_b_tdk, OZ_k_tu, OZ_m_tu, OZ_b_tu, OZ_k_ya, OZ_m_ya, OZ_b_ya = jmlLK(Oz)
JA_k_tdk, JA_m_tdk, JA_b_tdk, JA_k_tu, JA_m_tu, JA_b_tu, JA_k_ya, JA_m_ya, JA_b_ya = jmlLK(JA)

In [20]:
data = np.array([['','Jumlah','k','m','b','k','m','b','k','m','b','k','m','b'],
                ['Tidak',jumlahTidak,LK_k_tdk,LK_m_tdk, LK_b_tdk,JP_k_tdk,JP_m_tdk, JP_b_tdk,OZ_k_tdk,OZ_m_tdk, OZ_b_tdk,JA_k_tdk,JA_m_tdk, JA_b_tdk],
                ['Tunda',jumlahTunda,LK_k_tu, LK_m_tu, LK_b_tu,JP_k_tu,JP_m_tu, JP_b_tu,OZ_k_tu,OZ_m_tu, OZ_b_tu,JA_k_tu,JA_m_tu, JA_b_tu],
                ['Ya',jumlahYa,LK_k_ya, LK_m_ya, LK_b_ya,JP_k_ya,JP_m_ya, JP_b_ya,OZ_k_ya,OZ_m_ya, OZ_b_ya,JA_k_ya,JA_m_ya, JA_b_ya]])
                
swt = pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:])

swt

      Jumlah  k   m  b  k  m  b  k   m  b  k  m  b
Tidak     16  6  10  0  6  6  4  0   8  8  6  5  5
Tunda     13  5   8  0  4  6  3  0  10  3  7  4  2
Ya        16  3  13  0  5  5  6  0  11  5  9  4  3

In [21]:
def P_LK(lk) :
    if lk == "Kecil" :
        tdk_lk = LK_k_tdk
        tu_lk = LK_k_tu
        ya_lk = LK_k_ya
    elif lk == "Menengah" :
        tdk_lk = LK_m_tdk
        tu_lk = LK_m_tu
        ya_lk = LK_m_ya
    else :
        tdk_lk = LK_b_tdk
        tu_lk = LK_b_tu
        ya_lk = LK_b_ya
    return tdk_lk,tu_lk,ya_lk

In [22]:
def P_jp(jp) :
    if jp == "Kecil" :
        tdk_jp = JP_k_tdk
        tu_jp = JP_k_tu
        ya_jp = JP_k_ya
    elif jp == "Menengah" :
        tdk_jp = JP_m_tdk
        tu_jp = JP_m_tu
        ya_jp = JP_m_ya
    else :
        tdk_jp = JP_b_tdk
        tu_jp = JP_b_tu
        ya_jp = JP_b_ya
    return tdk_jp,tu_jp,ya_jp

In [23]:
def P_oz(oz) :
    if oz == "Kecil" :
        tdk_oz = OZ_k_tdk
        tu_oz = OZ_k_tu
        ya_oz = OZ_k_ya
    elif oz == "Menengah" :
        tdk_oz = OZ_m_tdk
        tu_oz = OZ_m_tu
        ya_oz = OZ_m_ya
    else :
        tdk_oz = OZ_b_tdk
        tu_oz = OZ_b_tu
        ya_oz = OZ_b_ya
    return tdk_oz,tu_oz,ya_oz

In [24]:
def P_ja(ja) :
    if ja == "Kecil" :
        tdk_ja = JA_k_tdk
        tu_ja = JA_k_tu
        ya_ja = JA_k_ya
    elif ja == "Menengah" :
        tdk_ja = JA_m_tdk
        tu_ja = JA_m_tu
        ya_ja = JA_m_ya
    else :
        tdk_ja = JA_b_tdk
        tu_ja = JA_b_tu
        ya_ja = JA_b_ya
    return tdk_ja,tu_ja,ya_ja

In [25]:
def naiveBayes(nama,lk,jp,oz,ja) :
    print(pd.DataFrame({'Nama':[nama],'Lama Kerja':[lk],'Jumlah Pekerja':[jp],'Omzet':[oz],'Jumlah Aset':[ja]}))
    lk2 = lamaKerja([lk])
    jp2 = jumlahPekerja([jp])
    oz2 = omzet([oz])
    ja2 = jumlahAset([ja])
    print()
    print()
    print(pd.DataFrame({'Nama':[nama],'Lama Kerja':lk2,'Jumlah Pekerja':jp2,'Omzet':oz2,'Jumlah Aset':ja2}))
    tdk_lk,tu_lk,ya_lk = P_LK(lk2[0])
    tdk_jp,tu_jp,ya_jp = P_jp(jp2[0])  
    tdk_oz,tu_oz,ya_oz = P_oz(oz2[0])   
    tdk_ja,tu_ja,ya_ja = P_ja(ja2[0])   
    P_LK_TIDAK = (tdk_lk/jumlahData)/(jumlahTidak/jumlahData)
    P_LK_TUNDA = (tu_lk/jumlahData)/(jumlahTunda/jumlahData)
    P_LK_YA = (ya_lk/jumlahData)/(jumlahYa/jumlahData)
    P_JP_TIDAK = (tdk_jp/jumlahData)/(jumlahTidak/jumlahData)
    P_JP_TUNDA = (tu_jp/jumlahData)/(jumlahTunda/jumlahData)
    P_JP_YA = (ya_jp/jumlahData)/(jumlahYa/jumlahData)
    P_OZ_TIDAK = (tdk_oz/jumlahData)/(jumlahTidak/jumlahData)
    P_OZ_TUNDA = (tu_oz/jumlahData)/(jumlahTunda/jumlahData)
    P_OZ_YA = (ya_oz/jumlahData)/(jumlahYa/jumlahData)
    P_JA_TIDAK = (tdk_ja/jumlahData)/(jumlahTidak/jumlahData)
    P_JA_TUNDA = (tu_ja/jumlahData)/(jumlahTunda/jumlahData)
    P_JA_YA = (ya_ja/jumlahData)/(jumlahYa/jumlahData)
    
    data = np.array([['','TIDAK','TUNDA','YA'],
                ['Lama Kerja',P_LK_TIDAK,P_LK_TUNDA,P_LK_YA],
                ['Jumlah Pekerja',P_JP_TIDAK,P_JP_TUNDA,P_JP_YA],
                ['Omzet',P_OZ_TIDAK,P_OZ_TUNDA,P_OZ_YA],
                ['Jumlah Aset',P_JA_TIDAK,P_JA_TUNDA,P_JA_YA]])
                
    td1 = pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:])
    print()
    print()
    print(td1)
    
    P_TIDAK = P_LK_TIDAK*P_JP_TIDAK*P_OZ_TIDAK*P_JA_TIDAK*(jumlahTidak/jumlahData)
    P_TUNDA = P_LK_TUNDA*P_JP_TUNDA*P_OZ_TUNDA*P_JA_TUNDA*(jumlahTunda/jumlahData)
    P_YA = P_LK_YA*P_JP_YA*P_OZ_YA*P_JA_YA*(jumlahYa/jumlahData)
    
    print()
    print()
    print('Peluang Tidak = ',P_LK_TIDAK,'*',P_JP_TIDAK,'*',P_OZ_TIDAK,'*',P_JA_TIDAK,'*',jumlahTidak,'/',jumlahData)
    print('Peluang Tidak = ',P_TIDAK)
    print()
    print('Peluang TUNDA = ',P_LK_TUNDA,'*',P_JP_TUNDA,'*',P_OZ_TUNDA,'*',P_JA_TUNDA,'*',jumlahTunda,'/',jumlahData)
    print('Peluang TUNDA = ',P_TUNDA)
    print()
    print('Peluang YA = ',P_LK_YA,'*',P_JP_YA,'*',P_OZ_YA,'*',P_JA_YA,'*',jumlahYa,'/',jumlahData)
    print('Peluang YA = ',P_YA)
    maxP = max(P_TIDAK,P_TUNDA,P_YA)
    if maxP == P_TIDAK :
        ket = "Tidak"
    elif maxP == P_TUNDA :
        ket = "Tunda"
    else :
        ket = "Ya"
        
    print()  
    print()
    print('Hasil Keputusan',nama,'adalah',ket)

In [26]:
naiveBayes("Umk Pamurbaya",4,15,4,6)

            Nama  Lama Kerja  Jumlah Pekerja  Omzet  Jumlah Aset
0  Umk Pamurbaya           4              15      4            6


            Nama Lama Kerja Jumlah Pekerja  Omzet Jumlah Aset
0  Umk Pamurbaya   Menengah       Menengah  Besar    Menengah


                              TIDAK                TUNDA                   YA
Lama Kerja       0.6249999999999999   0.6153846153846154   0.8124999999999999
Jumlah Pekerja                0.375  0.46153846153846156  0.31249999999999994
Omzet                           0.5  0.23076923076923078  0.31249999999999994
Jumlah Aset     0.31249999999999994   0.3076923076923077                 0.25


Peluang Tidak =  0.6249999999999999 * 0.375 * 0.5 * 0.31249999999999994 * 16 / 45
Peluang Tidak =  0.013020833333333329

Peluang TUNDA =  0.6153846153846154 * 0.46153846153846156 * 0.23076923076923078 * 0.3076923076923077 * 13 / 45
Peluang TUNDA =  0.005826126536185709

Peluang YA =  0.8124999999999999 * 0.31249999999999994 * 0.31249999999999994 * 0.25 * 16 / 45
Peluang YA =  0.007052951388888886


Hasil Keputusan Umk Pamurbaya adalah Tidak

In [27]:
naiveBayes("Umk Bandeng",3,28,4,10)

          Nama  Lama Kerja  Jumlah Pekerja  Omzet  Jumlah Aset
0  Umk Bandeng           3              28      4           10


          Nama Lama Kerja Jumlah Pekerja  Omzet Jumlah Aset
0  Umk Bandeng   Menengah          Besar  Besar       Besar


                              TIDAK                TUNDA                   YA
Lama Kerja       0.6249999999999999   0.6153846153846154   0.8124999999999999
Jumlah Pekerja                 0.25  0.23076923076923078                0.375
Omzet                           0.5  0.23076923076923078  0.31249999999999994
Jumlah Aset     0.31249999999999994  0.15384615384615385               0.1875


Peluang Tidak =  0.6249999999999999 * 0.25 * 0.5 * 0.31249999999999994 * 16 / 45
Peluang Tidak =  0.008680555555555554

Peluang TUNDA =  0.6153846153846154 * 0.23076923076923078 * 0.23076923076923078 * 0.15384615384615385 * 13 / 45
Peluang TUNDA =  0.0014565316340464272

Peluang YA =  0.8124999999999999 * 0.375 * 0.31249999999999994 * 0.1875 * 16 / 45
Peluang YA =  0.006347656249999997


Hasil Keputusan Umk Bandeng adalah Tidak

In [28]:
naiveBayes("Bikid Graffer",2,12,1,3)

            Nama  Lama Kerja  Jumlah Pekerja  Omzet  Jumlah Aset
0  Bikid Graffer           2              12      1            3


            Nama Lama Kerja Jumlah Pekerja     Omzet Jumlah Aset
0  Bikid Graffer      Kecil       Menengah  Menengah       Kecil


                TIDAK                TUNDA                   YA
Lama Kerja      0.375  0.38461538461538464               0.1875
Jumlah Pekerja  0.375  0.46153846153846156  0.31249999999999994
Omzet             0.5   0.7692307692307693               0.6875
Jumlah Aset     0.375   0.5384615384615385               0.5625


Peluang Tidak =  0.375 * 0.375 * 0.5 * 0.375 * 16 / 45
Peluang Tidak =  0.009375

Peluang TUNDA =  0.38461538461538464 * 0.46153846153846156 * 0.7692307692307693 * 0.5384615384615385 * 13 / 45
Peluang TUNDA =  0.02124108632984373

Peluang YA =  0.1875 * 0.31249999999999994 * 0.6875 * 0.5625 * 16 / 45
Peluang YA =  0.008056640624999998


Hasil Keputusan Bikid Graffer adalah Tunda

In [29]:
naiveBayes("Kum Mandiri Sablon",2,10,3,10)

                 Nama  Lama Kerja  Jumlah Pekerja  Omzet  Jumlah Aset
0  Kum Mandiri Sablon           2              10      3           10


                 Nama Lama Kerja Jumlah Pekerja     Omzet Jumlah Aset
0  Kum Mandiri Sablon      Kecil       Menengah  Menengah       Besar


                              TIDAK                TUNDA                   YA
Lama Kerja                    0.375  0.38461538461538464               0.1875
Jumlah Pekerja                0.375  0.46153846153846156  0.31249999999999994
Omzet                           0.5   0.7692307692307693               0.6875
Jumlah Aset     0.31249999999999994  0.15384615384615385               0.1875


Peluang Tidak =  0.375 * 0.375 * 0.5 * 0.31249999999999994 * 16 / 45
Peluang Tidak =  0.007812499999999999

Peluang TUNDA =  0.38461538461538464 * 0.46153846153846156 * 0.7692307692307693 * 0.15384615384615385 * 13 / 45
Peluang TUNDA =  0.00606888180852678

Peluang YA =  0.1875 * 0.31249999999999994 * 0.6875 * 0.1875 * 16 / 45
Peluang YA =  0.0026855468749999996


Hasil Keputusan Kum Mandiri Sablon adalah Tidak

In [31]:
from flask import Flask, request, jsonify
from flask import request

In [32]:
app = Flask(__name__)

In [60]:
@app.route('/api/add_message/<uuid>', methods=['GET', 'POST'])
def add_message(uuid):
    content = request.json
    print(content['mytext'])
    return jsonify({"uuid":uuid})

AssertionError: View function mapping is overwriting an existing endpoint function: add_message

In [77]:
import requests
res = requests.post('http://localhost:5000/api/prediksi/?namaukm=Kum%20Mandiri%20Sablon&lamakerja=2&jumlahpekerja=10&omzet=3&jumlahaset=10')
if res.ok:
    print(res.json())

{'Arga': {'jumlahaset': '10', 'jumlahpekerja': '10', 'lamakerja': '2', 'namaukm': 'Kum Mandiri Sablon', 'omzet': '3'}, 'Hasil': ['Kum Mandiri Sablon', 'Tidak']}